.user-answer {
  width: 250px;
  height: 75px;
  text-align: center;
  margin: 50px;
  padding: 20px 10%;
  font-size: 18pt;
}

.user-answer.user-answer-true {
  background-color: lightgreen;
}

.user-answer.user-answer-true:active {
  background-color: darkgreen;
}

.user-answer.user-answer-false {
  background-color: lightcoral;
}

.user-answer.user-answer-false:active {
  background-color: red;
}

.serve-drink {
  font-size: 22pt;
  color: tomato;
}
